@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

*, *:before, *:after {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .canvas {
    background-color: #f1f1f1;
    padding: 50px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .card-container {
    display: flex;
    padding: 20px;
    
}

.card {
    background-color: #fff;
    background-color: hsl(31, 77%, 52%);
    border-top-right-radius: none;
    border-bottom-right-radius: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    width: 270px;
    height: 400px;
    
}

.card-2 {
    background-color: hsl(184, 100%, 22%);
    border-top-right-radius: none;
    border-bottom-right-radius: none;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    width: 270px;
    height: 400px;
}

.card-3 {
    background-color: hsl(179, 100%, 13%);
    border-top-left-radius: none;
    border-bottom-left-radius: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    width: 270px;
    height: 400px;
}
.card-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.card-image {
    object-fit: cover;
}
    
.card-title {
    margin: 0;
    font-size: 18px;
    color: #fff;
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-style: Light 300;
    margin-top: 20px;
}

.card-content {

    font-size: 12px;
    color: #d8d6d6;
    margin: 0;
    padding-bottom: 20px;
    margin: 20px 0;
    flex-grow: 1;
    
}

.card-button {
    align-self: flex-start;
    background-color: #fff;
    color: hsl(31, 77%, 52%);
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    width: 130px;
}

.card-button-2 {
    align-self: flex-start;
    background-color: #fff;
    color: hsl(184, 100%, 22%);
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    width: 130px;
}

.card-button-3 {
    align-self: flex-start;
    background-color: #fff;
    color: hsl(179, 100%, 13%);
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    width: 130px;
}

.card-button:hover, .card-button-2:hover, .card-button-3:hover {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
} 


@media (max-width: 800px) {
    .card-container {
        flex-direction: column;
    }

    .card, .card-2, .card-3 {
        height: 600px;
        width: 250px;
    }

    .card {
        border-top-right-radius: 8px;
        border-bottom-right-radius: none;
        border-top-left-radius: 8px;
        border-bottom-left-radius: none;
    }

    .card-3 {
        border-top-left-radius: none;
        border-bottom-left-radius: 8px;
        border-top-right-radius: none;
        border-bottom-right-radius: 8px;
    }
}