* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    background-color: #0d192b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Outfit", sans-serif;
}

p {
    font-size: 15px;
    color: #8bacda;
    font-weight: 300;
    padding-bottom: 16px;
}

.card {
    background-color: #14253d;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.image-container {
    position: relative;
}

.nft-image {
    width: 100%;
    border-radius: 10px;
    transition: all 0.3s ease;
    margin-bottom: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 255, 255, 0.7);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.view-icon {
    width: 40px;
    height: 40px;
    opacity: 0.8;
    color: #fff;
}

.image-container:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.nft-title {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 16px;
    transition: color .2s ease-in;
    cursor: pointer;
}

.nft-title:hover {
    color: #00fff7;
}

.nft-description {
    font-size: 14px;
    color: #8bacda;
    font-weight: 300;
    padding-bottom: 16px;
    line-height: 1.2;
}

.nft-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.price, .time-left {
    display: flex;
    align-items: center;
    font-size: 0.9em;
}

.light-text {
    color: #8bacda;
    font-size: 15px;
}

.eth-icon, .clock-icon {
    width: 15px;
    margin-right: 5px;
}

.blue-text {
    color: #00fff7;
    font-weight: 400;
    font-size: 15px;
    
}

.line {
    height: 1px;
    width: 100%;
    background-color: #8bacda;
    margin: 16px auto;
    opacity: .3;
}

.creator {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    color: #8daec0;
}

.creator-avatar {
    width: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.creator a {
    color: white;
    text-decoration: none;
    transition: color .2s ease-in;
    cursor: pointer;
}

.creator a:hover {
    color: #00fff7;
    transition: color .2s ease-in;
    cursor: pointer;
}