* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;

}

body {
    font-family: "Outfit", sans-serif;
    background-color: #f5ede3;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

p {
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    padding-bottom: 20px;
}

.recipe-card {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 100%;
    margin: 7rem auto;
}

.recipe-image {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 20px;
}

.recipe-title {
    font-size: 2em;
    margin-bottom: 10px;
    font-family: "Young Serif", serif;
}

.recipe-description {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
}

.prep-time  {
    background-color: #fff5fa;
    padding: 30px;
    border-radius: 10px;
}

.prep-time h2 {
    color: #7b284f;
    font-size: 1.5rem;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
}

.prep-time ul li {
    font-size: 18px;
    line-height: 1.8;
    color: #5f574e;
    font-weight: 400;
}


.instructions li {
    font-size: 16px;
    line-height: 1.8;
    color: #5f574e;
    font-weight: 400;
    
    
}

.ingredients li {
    color: #5f574e;
    font-size: 18px;
    line-height: 1.8;
    font-weight: 400;
    font-family: "Outfit", sans-serif;

}


ul, ol {
    margin-left: 20px;
    font-size: 16px;
    color: #854632;
    font-weight: 600;
}

.prep-time, .ingredients, .instructions, .nutrition {
    margin-bottom: 20px;
}

.ingredients h2, .instructions h2, .nutrition h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #854632;
    font-family: "Young Serif", serif;
    font-weight: 700;
    
}

strong {
    color: 	#302d2c;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.data {
    color: #5f574e;
    font-size: 18px;
    font-weight:400;
}

td {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    color: #854632;
    font-weight: 700;
    font-size: 16px;
}

@media (max-width: 768px) {
    .recipe-card {
        padding: 15px;
    }

    .recipe-title {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .recipe-card {
        padding: 10px;
    }

    .recipe-title {
        font-size: 1.3em;
    }

    h2 {
        font-size: 0.9em;
    }

    table td {
        font-size: 0.8em;
    }
}

@media (max-width: 320px) {
    .recipe-card {
        padding: 10px;
        width: 300px;
    }

    .recipe-title {
        font-size: 1.2em;
    }

    h2 {
        font-size: 0.8em;
    }

    table td {
        font-size: 0.6em;
    }
}