* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3e6d8;

}

h1,
h2,
h3 {
    font-family: "Young Serif", serif;
}

p {
    font-family: "Outfit", sans-serif;
    color: #575351;
}

.recipe-card {
    background-color: #fff;
    margin: 4rem auto;
    width: 740px;
    border-radius: 20px;
    padding: 2.5rem;
}

.omelette-image {
    width: 660px;
    border-radius: 8px;
}

.recipe-title {
    color: #2a2827;
    margin: 16px auto;
}

.prep-time {
    margin: 32px 0px;
    background-color: #fff7fc;
    border-radius: 8px;
    padding: 1.5rem 0rem 1.5rem 3rem;
}

.prep-time h2 {
    font-family: "Outfit", sans-serif;
    color: #7b284f;
}

li {
    font-family: "Outfit", sans-serif;
    padding-left: 16px;
    margin: 16px 0px;
    color: #575351;
}

li::marker {
    color: #7b284f;
}

.bold-text {
    font-weight: bold;
}

.brown-text {
    color: #854632;
}

.brown-list li::marker {
    color: #854632;
    font-weight: bold;
}

.horizontal-line {
    background: #e2e2e2;
    height: 1px;
    margin: 32px 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 32px 0px;
}

.data {
    color: #575351;
    font-size: 16px;
    font-weight:400;
    font-family: "Outfit", sans-serif;
}

td {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    color: #854632;
    font-weight: 700;
    font-size: 16px;
    font-family: "Outfit", sans-serif;
}

@media (max-width: 768px) {
    .recipe-card {
        padding: 15px;
    }

    .recipe-title {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .recipe-card {
        padding: 20px;
        width: 450px;
    }

    .omelette-image {
        width: 410px;
    }

    .recipe-title {
        font-size: 1.3em;
    }

    .prep-time h2 {
        font-size: 1.5rem;
    }

    li {
        margin-left: 25px;
        
    }

    table td {
        font-size: 0.8em;
    }
}

@media (max-width: 320px) {
    .recipe-card {
        padding-left: 20px;
        padding-right: 20px;
        width: 300px;
    }
    .omelette-image {
        width: 260px;
        border-radius: 0px;
        padding-top: 10px;
    }
    .recipe-title {
        font-size: 1.2rem;
    }

    .prep-time h2 {
        font-size: 1rem;
        
    }

    li {
        margin-left: 15px;
        
    }

    table td {
        font-size: 0.9rem;
    }
}